html {
    background: hsl(210, 46%, 95%);
}

h1, h2, h3, p {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    width: 1085px;
    height: 543px;
    margin: 200px auto;
}

img {
    border-radius: 30px;
}

.title {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 10px;
    line-height: 19px;

}

.daniel h1, .daniel h2, .daniel h3, .jonathan h1, .jonathan h2, .jonathan h3, .patrick h1, .patrick h2, .patrick h3 {
    color:hsl(0, 0%, 81%);
}

h3 {
    opacity: 50%;
}

p {
    opacity: 70%;
    font-size: 13px;
}

.daniel p, .jonathan p, .patrick p {
 
    color: hsl(0, 0%, 81%)
}

.daniel, .jonathan, .kira, .jeanette, .patrick {
    padding: 18px;
    border-radius: 8px
    
}

.daniel {
    background: hsl(263, 55%, 52%) url(images/bg-pattern-quotation.svg) no-repeat 355px 0;
    grid-column: 1 / 3;
    

}


.jonathan {
    background: hsl(217, 19%, 35%);
}

.kira {
    background: hsl(0, 0%, 100%);
    grid-row: 1/3;
    grid-column: 4/5;
}

.jeanette {
    background: hsl(0, 0%, 100%);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.patrick {
    background: hsl(219, 29%, 14%);
    grid-row: 2/3;
    grid-column: 2/4;
}